@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    width: 100%;
}

nav {
    padding: 20px 0;
    background-color: #dfe6e9;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}

nav a {
    text-decoration: none;
    color: #2d3436;
    margin-right: 20px;
}

form {
    padding: 20px;
    background-color:#dfe6e9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

form>* {
    margin: 10px;
}

section {
    margin-top: 20px;
}

input, textarea, select {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    resize: none;
    margin-top: 5px;
}

input[type="color"] {
    width: 100%;
    height: 32px;
}

.box {
    display: flex;
    flex-direction: column;
    width: 400px;
}

@keyframes drop_in {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 100;
    }
}

.error {
    color: red;
    margin-top: 5px;
}

.error-label {
    color: white;
    background-color: red;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin: 20px 0;
    box-sizing: border-box;
    text-align: center;
    animation: drop_in 0.5s;
}


.success-label {
    color: white;
    background-color: #00b894;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin: 20px 0;
    box-sizing: border-box;
    text-align: center;
    animation: drop_in 0.5s;
}


.field label{
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: #00b894;
    color: white;
    cursor: pointer;
}

table, td, th {
    border: dashed 1px #dfe6e9;
    text-align: center;
}
th {
    font-size: 20px;
}

.hidden {
    display: none;
}

.players {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.player {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.player img {
    width: 200px;
    height: 200px;
}

.btn {
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.btn-primary {
    background-color: #00b894;
}

.pixels-box {
    width: 500px;
    height: 500px;
    position: relative;
    background-color: #f4fcff;
}

.pixel {
    position: absolute;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #2d3436;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}