@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

form {
    padding: 20px;
    background-color:#dfe6e9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form>* {
    margin: 10px;
}

input, textarea, select {
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    resize: none;
    margin-top: 5px;
}

.box {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.error {
    color: red;
    margin-top: 5px;
}

.error-label {
    color: white;
    background-color: red;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin: 20px 0;
    box-sizing: border-box;
    text-align: center;
}

.field label{
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    background-color: #00b894;
    color: white;
    cursor: pointer;
}

table, td, th {
    border: dashed 1px #dfe6e9;
    text-align: center;
}
th {
    font-size: 20px;
}